body{
     margin: 0;
     padding: 0;
     font-family: 'Open Sans', sans-serif;
}

table{
     font-size: 20px;
     margin-top: 80px;
     color: black;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
}

table .td-1, .td-2, .td-3{
     padding: 10px 20px;
     text-align: center;
     background-color: rgb(54, 91, 212);
     color: white;
}

table thead tr{
     background-color: rgb(218, 218, 218);
}

table thead tr th{
     border-bottom: 1px solid grey;
     padding-top: 5px;
     padding-bottom: 5px;
}

.apply{
     padding: 8px 20px;
     background-color: rgb(31, 153, 68);
     color: white;
     font-size: 20px;
     border: 1px solid transparent;
     font-weight: bold;
     margin-left: auto;
     margin-right: auto;
     margin-left: 10px;
}

.apply:hover{
     cursor: pointer;
}

.btn-container{
     margin-left: 10px;
}

.add-btn{
     background-color: rgb(21, 163, 56);
     color: white;
     height: 40px;
     font-size: 20px;
     border: 1px solid transparent;
     padding: 5px 10px 5px 10px;
     border-radius: 5px;
}

.add-btn:hover{
     cursor: pointer;
     background-color: rgb(22, 145, 53);
}


input {
	margin: 10px auto;
	display: block;
	width: 50%;
	padding: 10px 0px;
     background-color: rgb(21, 163, 56);
     border-radius: 5px;
     color: white;
     font-size: 20px;
     border: 0px solid;
}

input:hover{
     cursor: pointer;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.close:hover{
     color: #666;
}